<%- include('header') %>
  <h1>QuoteTyper</h1>
  <h2>Test Results</h2>
  <p>Quote: <%= quote %></p>
  <p>User: <%= user %></p>
  <p>WPM: <%= wpm %></p>
  <p>Accuracy: <%= accuracy %></p>
<%- include('footer') %>
